<!DOCTYPE html>
<html>
<link rel="stylesheet" href="master.css">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>
    <div class="secondary">
        Words Quiz Beta
    </div>
    <div class="wrapper">
        <div class="group padding primary">
            <%= Math.floor(bar) %>%
            <div class="third">
            <div class="secondary-active" style="width: <%= bar %>%; height: calc(var(--font) / 2)">
            </div>
            </div>
        </div>
        <div class="group padding secondary">
            <h2>
                <%= before %>
            </h2>
            <% for(var i in beforem){ %>
                <div class="secondary padding">
                    <%= beforem[i] %>
                    <div class="primary yellow">
                        <% for(var j in befores[i]) { %>
                            <%= befores[i][j].replaceAll("_", " ") %><% if(j < (befores[i].length - 1)) { %>,<% } %>
                        <% } %>
                    </div>
                </div>
            <% } %>
            <a class="button secondary-active" href="/">Next</a>
        </div>
    </div>
    <div class="secondary">
        Made by Minjun Kim<br>
        github.com/shrimpk
        <div class="primary">Based on WordNet</div>
        Citations:<br>
        George A. Miller (1995). WordNet: A Lexical Database for English.<br>
        Communications of the ACM Vol. 38, No. 11: 39-41.<br>
        Christiane Fellbaum (1998, ed.) WordNet: An Electronic Lexical Database. Cambridge, MA: MIT Press.<br>
        WordNet: An Electronic Lexical Database(citation above) is available from MIT Press.
    </div>
</body>

</html>